.Gallery{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  background-color: rgba(255,255,255, 0.8);

  .card{
    padding: 5px;
    .image{
      overflow-y: hidden;
    }
  }

  .card:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
  }
}

.cardWrapper{
  margin: 10px 0;
}

.Filters{
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 60vw;
  margin: 5px auto;
  padding: 10px;
}
