
.ListView{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 60vw;
  & .search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    .segment{
      width: 60vw;
      min-width: 350px;
      background: #f4faff;
      opacity: 0.95;
    }

  }

  & .listItems{
    width: 60vw;
    min-width: 350px;
    & .item{
      width: 100%;
      background-color: rgba(255, 255, 255, 0.75);
      margin: 1% 0;
      border-radius: 5px;
      div{
        width: 70%;
      }
      .image{
        margin-left: 5px;
        width: 20%;
        height: auto;
      }

      .description{
        // overflow-x: auto;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }


  }
}

.sortButtonGroup{
  margin: 10px 0;
  align-self: flex-end;
}
